<div class="container">

  <!--this is the title for the website-->
  <div class= "row">
    <a href="home" title="Moose Rugby Club" class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"><img src = "assets/logo.png"></a>
  </div>

  <!--this is for navigation through various tabs to display content-->
  <div class="tabbable">
    <!--tabs to select-->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
      <li><a href="#schedule" data-toggle="tab">Schedule/Results</a></li>
      <li><a href="#pictures" data-toggle="tab">Pictures</a></li>
      <li><a href="#sponsors" data-toggle="tab">Sponsors</a></li>
      <li><a href="#contactUs" data-toggle="tab">Contact Us</a></li>
      <li><a href="#roster" data-toggle="tab">Roster</a></li>

    </ul>




    <!--content to be displayed inside the tabs-->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div class="container">
          <div class="row text-center">
            <h3><u>Fall Practices are beginning this week!</u></h3>
            <h4>Practices are held on Wednesday's at 6PM @ the Moose</h4>
            <a href="https://www.smokestackbrew.com/"></a><img src="assets/mooserugbygroundsnew.jpg" style="width:100%; height:80% !important">
          </div>
        </div>
      </div>

      <!--display content for schedule-->
      <div class="tab-pane" id="schedule">
        <h3>2017 Schedule</h3>
        <div class="container">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Opponent</th>
                  <th>Location</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>August 19th</td>
                  <td>Kalamazoo</td>
                  <td>Away</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>August 26th</td>
                  <td>White River</td>
                  <td>Home</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>September 2nd</td>
                  <td>Bye (Labor Day)</td>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td>September 9th</td>
                  <td>Bye</td>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td>September 16th</td>
                  <td>Columbus</td>
                  <td>Away</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>September 23rd</td>
                  <td>Ft. Wayne</td>
                  <td>Home</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>September 30th</td>
                  <td>Kalamazoo</td>
                  <td>Home</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>October 7th</td>
                  <td>White River</td>
                  <td>Away</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>October 14th</td>
                  <td>Bye</td>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td>October 21st</td>
                  <td>Columbus</td>
                  <td>Home</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>October 28th</td>
                  <td>Ft. Wayne</td>
                  <td>Away</td>
                  <td>0-0</td>
                </tr>
              </tbody>
             </table>
            <div>*All games are scheduled to start at 1pm</div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="pictures">
        <!--carousel that displays various pictures-->
        <div id="pictureCarousel" class="carousel slide" data-ride="carousel" style="width:500px; height:400px;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#pictureCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#pictureCarousel" data-slide-to="1"></li>
            <li data-target="#pictureCarousel" data-slide-to="2"></li>
            <li data-target="#pictureCarousel" data-slide-to="3"></li>
            <li data-target="#pictureCarousel" data-slide-to="4"></li>
          </ol>


          <!-- Wrapper for slides -->
           <div class="carousel-inner" role="listbox" style="height:300px">
            <div class="item active">
              <img src="assets/TeamPhoto2015.jpg" alt="Team Photo 2015" style=" width:100%; height: 300px !important;">
            </div>

            <div class="item">
              <img src="assets/rugby1.jpg" alt="rugby1" style=" width:100%; height: 300px !important;">
            </div>

            <div class="item">
              <img src="assets/rugby2.jpg" alt="rugby2" style=" width:100%; height: 300px !important;">
            </div>

            <div class="item">
              <img src="assets/rugby3.jpg" alt="rugby3"style=" width:100%; height: 300px !important;">
            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane" id="sponsors">
        <h1>
          The Club is currently sponsored by Smokestack Brewhouse!
        </h1>
        <img src="assets/smokestack.png" style="width:100%; height:100% !important;">
      </div>


      <div class="tab-pane" id="contactUs">
        <div class="container">
          <div class="row">
            <h4 class="col-md-2"><u>Club Position</u></h4>
            <h4 class="col-md-2"><u>Name</u></h4>
            <h4 class="col-md-3"><u>Email</u></h4>
            <h4 class="col-md-2"><u>Phone #</u></h4>
          </div>
          <div class="row">
            <h5 class="col-md-2">President</h5>
            <h5 class="col-md-2">Kyle George</h5>
            <h5 class="col-md-3">KG@google.com</h5>
            <h5 class="col-md-2">574-999-9999</h5>
          </div>
          <div class="row">
            <h5 class="col-md-2">Vice President</h5>
            <h5 class="col-md-2">Doug Kettlehut</h5>
            <h5 class="col-md-3">DK@google.com</h5>
            <h5 class="col-md-2">574-888-8888</h5>
          </div>
          <div class="row">
            <h5 class="col-md-2">Treasurer</h5>
            <h5 class="col-md-2">Joe Katuzienski</h5>
            <h5 class="col-md-3">joekat1993@google.com</h5>
            <h5 class="col-md-2">574-777-7777</h5>
          </div>
          <div class="row">
            <h5 class="col-md-2">Media Chair</h5>
            <h5 class="col-md-2">Ed Reyes</h5>
            <h5 class="col-md-3">ER@google.com</h5>
            <h5 class="col-md-2">574-666-6666</h5>
          </div>
          <div class="row">
            <h5 class="col-md-2">Social Chair</h5>
            <h5 class="col-md-2">Kyle Kubiak</h5>
            <h5 class="col-md-3">KK@google.com</h5>
            <h5 class="col-md-2">574-555-5555</h5>
          </div>
          <!--<div class="row" *ngFor="let person of people; let i=index">-->
        </div>
      </div>
      <!--end of tabs-->


      <div class="tab-pane" id="roster">
        <div class="row" *ngFor="let r of roster; let i = index">
          <app-roster [roster]="r"></app-roster>
          
      </div>

    </div>
  </div>

  <!-- <div class="container">
    <div>
      <h3>Schedule</h3>
      <dl>
        <dt>September</dt>
        <dd>- 9th @ Ft. Wayne</dd>
        <dd>- 16th vs Columbus</dd>
        <dd>- 23rd vs White River</dd>
        <dd>- 30th Bye</dd>
        <dt>October</dt>
        <dd>- 7th vs Ft. Wayne</dd>
        <dd>- 14th @ Columbus</dd>
        <dd>- 21st @ White River</dd>
        <dd>- 28th Play-In for Playoffs</dd>
        <dt>November</dt>
        <dd> PLAYOFFS </dd>
      </dl>
    </div>
  </div> -->
</div>