<div class="container">

  <!--this is the title for the website-->
  <div class= "row">
    <a href="home" title="Moose Rugby Club" class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"><img src = "assets/logo.png"></a>
  </div>

  <!--this is for navigation through various tabs to display content-->
  <div class="tabbable">
    <!--tabs to select-->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
      <li><a href="#schedule" data-toggle="tab">Schedule/Results</a></li>
      <li><a href="#pictures" data-toggle="tab">Pictures</a></li>
      <li><a href="#sponsors" data-toggle="tab">Sponsors</a></li>
      <li><a href="#contactUs" data-toggle="tab">Contact/About Us</a></li>
      <li><a href="#learning" data-toggle="tab">Learning</a></li>
      <li><a href="#roster" data-toggle="tab">Roster</a></li>
      <li><a href="#youth" data-toggle="tab">Youth</a></li>

    </ul>




    <!--content to be displayed inside the tabs-->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div class="container">
          <div class="row text-center">
            <h3><u>Hi Grandma!!!!</u></h3>
            <h4>Practices are held on Wednesday's at 6PM @ the Moose</h4>
            <br><br>
            <h3>Welcome New Players!!</h3>
            <p>If you have any questions you can reach VP Doug Kettlehut at 574-250-1377 or Dmkettle@gmail.com</p>
            <img src="assets/mooserugbygroundsnew.jpg" style="width:100%; height:80% !important">
          </div>
        </div>
      </div>

      <!--display content for schedule-->
      <div class="tab-pane" id="schedule">
        <h3>2017 Schedule</h3>
        <div class="container">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Opponent</th>
                  <th>Location</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>August 19th</td>
                  <td>Kalamazoo</td>
                  <td>Away</td>
                  <td>W 29-12</td>
                </tr>
                <tr>
                  <td>August 26th</td>
                  <td>White River</td>
                  <td>Home</td>
                  <td>W 68-10</td>
                </tr>
                <tr>
                  <td>September 2nd</td>
                  <td>Bye (Labor Day)</td>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td>September 9th</td>
                  <td>Bye</td>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td>September 16th</td>
                  <td>Columbus</td>
                  <td>Away</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>September 23rd</td>
                  <td>Ft. Wayne</td>
                  <td>Home</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>September 30th</td>
                  <td>Kalamazoo</td>
                  <td>Home</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>October 7th</td>
                  <td>White River</td>
                  <td>Away</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>October 14th</td>
                  <td>Bye</td>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td>October 21st</td>
                  <td>Columbus</td>
                  <td>Home</td>
                  <td>0-0</td>
                </tr>
                <tr>
                  <td>October 28th</td>
                  <td>Ft. Wayne</td>
                  <td>Away</td>
                  <td>0-0</td>
                </tr>
              </tbody>
             </table>
            <div>*All games are scheduled to start at 1pm</div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="pictures">
        <!--carousel that displays various pictures-->
        <div id="pictureCarousel" class="carousel slide" data-ride="carousel" style="width:500px; height:400px;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#pictureCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#pictureCarousel" data-slide-to="1"></li>
            <li data-target="#pictureCarousel" data-slide-to="2"></li>
            <li data-target="#pictureCarousel" data-slide-to="3"></li>
            <li data-target="#pictureCarousel" data-slide-to="4"></li>
          </ol>


          <!-- Wrapper for slides -->
          <div class="container">
            <div class="carousel-inner" role="listbox" style="height:600px">
              <div class="item active">
                <img src="assets/TeamPhoto2015.jpg" alt="Team Photo 2015" style=" width:100%; height: 600px !important;">
              </div>

              <div class="item">
                <img src="assets/rugby1.jpg" alt="rugby1" style=" width:100%; height: 600px !important;">
              </div>

              <div class="item">
                <img src="assets/rugby2.jpg" alt="rugby2" style=" width:100%; height: 600px !important;">
              </div>
              
              <div class="item">
                <img src="assets/teampic2.jpg" alt="teampic2" style=" width:100%; height: 600px !important;">
              </div>
              
              <div class="item">
                <img src="assets/mooserugbygroundsnew.jpg" alt="mooserugbygroundsnew" style=" width:100%; height: 600px !important;">
              </div>
              
              <div class="item">
                <img src="assets/overhead.jpg" alt="overhead" style=" width:100%; height: 600px !important;">
              </div>

              <div class="item">
                <img src="assets/rugby3.jpg" alt="rugby3"style=" width:100%; height: 600px !important;">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane" id="sponsors">
        <div class="container"> 
          <h1>
            The Club is currently sponsored by Smokestack Brewhouse!
          </h1>
          
              <a title= "SmokeStack Brewhouse" href="https://www.smokestackbrew.com/"><img src="assets/smokestack.png" style="width:100%; height:100% !important;"></a>
        </div>
      </div>


      <div class="tab-pane" id="contactUs">
        <h3 class="text-center"><u>About Michiana Rugby Football</u></h3>
      <p class="text-center">The Michiaia RFC was established in 1972 as the South Bend Rugby Football Club. In July of 2003 the name changed to Michiana RFC due to the diverse players coming from the Michiana area. 
        <br>After moving from pitch to pitch in the past, the Michiana RFC found a new home at the Elkhart County Moose Lodge. 
        Over the past few years we have had the pleasure of playing on 3 of the most beautiful rugby fields in the Midwest. Our thanks go out to all those responsible, especially the Local Elkhart Moose Lodge #599, for providing us with a beautiful home.
        We are currently a division 3 team in the Northern Indiana bracket of USA Rugby.
       
        <div class="container">
          <div class="row">
            <h4 class="col-md-3"><u>Club Position</u></h4>
            <h4 class="col-md-3"><u>Name</u></h4>
            <h4 class="col-md-3"><u>Email</u></h4>
            <h4 class="col-md-3"><u>Phone #</u></h4>
          </div>
          <div class="row">
            <h5 class="col-md-3">President</h5>
            <h5 class="col-md-3">Kyle George</h5>
            <h5 class="col-md-3">Ktgeorge1327@icloud.com</h5>
            <h5 class="col-md-3">574-261-5867</h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">Vice President</h5>
            <h5 class="col-md-3">Doug Kettlehut</h5>
            <h5 class="col-md-3">Dmkettle@gmail</h5>
            <h5 class="col-md-3">574-250-1377</h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">Treasurer</h5>
            <h5 class="col-md-3">Joe Katuzienski</h5>
            <h5 class="col-md-3">joekat1993@google.com</h5>
            <h5 class="col-md-3">623-850-6067</h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">Media Chair</h5>
            <h5 class="col-md-3">Ed Reyes</h5>
            <h5 class="col-md-3">reyes7e@gmail.com</h5>
            <h5 class="col-md-3">574-386-5240</h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">Social Chair</h5>
            <h5 class="col-md-3">Kyle Kubiak</h5>
            <h5 class="col-md-3">k.kubiak@hotmail.com</h5>
            <h5 class="col-md-3">574-807-4293</h5>
          </div>
          <!--<div class="row" *ngFor="let person of people; let i=index">-->
        </div>
      </div>
      <!--end of tabs-->




      <div class="tab-pane" id="learning">
        <div class= "container">
        <div class="table-responsive">
            <table class="table table-hover">
              <thead>Links</thead>
                <tr><li><a href="https://www.youtube.com/watch?v=smnuRhNtT2E">Learning the rules of the game</a></li></tr>
            </table>
        </div>
      </div>
      </div>




      <div class="tab-pane" id="roster">
        <div class = "container">
          <!-- <h1>  
            This page is currently under development
          </h1> -->
          <div class="table-responsive">
           <table class = "table-bordered">
            <thead>
              <th>Player</th>
              <th>Position</th>
            </thead>
            <tbody>
                 <tr *ngFor="let r of roster; let i = index">
                  <app-roster [roster]="r"></app-roster>
                </tr> 
                <!-- <tr><td>Chris</td><td>6</td></tr>
                <tr><td>Chris</td><td>6</td></tr>
                <tr><td>Chris</td><td>6</td></tr> -->
            </tbody>
           </table> 
          </div>
      </div>
    </div>

    <div class="tab-pane" id="youth">
      <div class= "container">
        <div class="table-responsive">
            <table class="table table-hover">
              <thead>Links</thead>
                <tr><li><a href="http://www.rugbyindiana.com/page/show/946140-penn-hs-girls">Penn High School Girls Rugby Indiana</a></li></tr>
                <tr><li><a href="https://www.facebook.com/penngirlsrugby/">Penn High School Girls Rugby Facebook Page</a></li></tr>
                <tr><li><a href="http://www.rugbyindiana.com/page/show/2953839-penn-boys">Penn High School Boys Rugby Indiana</a></li></tr>
                <tr><li><a href="https://www.facebook.com/pennrugby.nation">Penn High School Boys Rugby Facebook Page</a></li></tr>
                <tr><li><a href="http://www.rugbyindiana.com/page/show/945007-marian-hs-boys">Marian Boys Rugby Indiana</a></li></tr>
                <tr><li><a href="http://www.rugbyindiana.com/page/show/946142-south-bend-hs-girls">South Bend Mercenaries High School Girls Rugby Indiana</a></li></tr>
                <tr><li><a href="https://www.facebook.com/SOUTH-BEND-MERCENARIES-RUGBY-CLUB-51747782908/">South Bend Mercenaries High School Girls Rugby Facebook Page</a></li></tr>
                <tr><li><a href="https://www.usarugby.org">USA Rugby</a></li></tr>
            </table>
        </div>
      </div>
    </div>

</div>